@model rdebolt_Amount.Models.Loan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.apr, htmlAttributes: new { @class = "control-label col-md-2" })
                <label asp-for="apr" class="control-label"></label>
                <input asp-for="apr" class="form-control" />
                <span asp-validation-for="apr" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label col-md-2" })
                <label asp-for="duration" class="control-label"></label>
                <input asp-for="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     @Html.ActionLink("Back to List", "Index")
</div>

