@page
@model rdebolt_Amount.Models.Loan
@{
    ViewData["Title"] = "Home page";
    ViewBag.Title = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <h1 class="display-4">Loan Web App</h1>
</div>
